<%= f.hidden_field :_destroy, value: 0 %>
<div>
  <%= f.label :titulo %>
  <%= f.text_field :titulo %>
</div>

<div>
  <%= f.label :descricao %>
  <%= f.text_area :descricao %>
</div>
<div>
  <%= f.label :imagem %>
  <%= f.file_field :imagem %>
</div>