<div class="">
<h1 class="text-4xl">Lista de Blogs</h1>
</div>

<div class="">
  <%= link_to "Criar Novo Blog", new_blog_path %>
</div>
<ul>
  <% @blogs.each do |blog| %>
    <li>
      <h2><%= blog.titulo %></h2>
      <p><%= blog.descricao %></p>

      <%= link_to "Ver", blog_path(blog), class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700" %> |
      <%= link_to "Editar", edit_blog_path(blog), class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"%> |
      <%= button_to "Excluir Blog", delete_blog_path(blog), method: :delete, class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"%>
    </li>
  <% end %>
</ul>

