<div class="mt-34">
  <h2 class="text-2xl font-semibold text-center mb-8">Login</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "max-w-sm mx-auto bg-white p-6 rounded-lg shadow-md" }) do |f| %>
    <div class="mb-5">
      <%= f.label :email, "Your email", class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "name@exemplo.com", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    </div>

    <div class="mb-5">
      <%= f.label :password, "Your password", class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="flex items-start mb-5">
        <div class="flex items-center h-5">
          <%= f.check_box :remember_me, class: "w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300" %>
        </div>
        <%= f.label :remember_me, "Remember me", class: "ms-2 text-sm font-medium text-gray-900" %>
      </div>
    <% end %>

    <div class="mb-5">
      <%= f.submit "Log in", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center" %>
    </div>
  <% end %>

  <div class="text-center mt-4">
    <%= render "users/shared/links" %>
  </div>
</div>